@charset "UTF-8";

.map_wrap {
	position: relative;
	overflow: hidden;
	width: 35%;
	height: 350px;
}

.card-header h4{
	margin-top: -10px;
	margin-left: -10px;
}

.fa-times:before{
	cursor: pointer;
}
.fa-times{
	margin-top: 5px;
	margin-right: -5px;
}

/* 키워드검색 */
#menu_wrap {
	position: relative;
 	width: 170px; 
	height: 2.4em;
	margin: 3px 0 0 5px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.7);
	z-index: 1;
	font-size: 15px;
	border-radius: 10px;
}

.option input {
	border: none;
	background: transparent;
	outline: none;
 	opacity: 0.5;
}

.option input:focus{
	background: transparent;
	opacity: 0.5;
}

/* 오버레이 */
.wrap {
	position: absolute;
	left: -60px;
	bottom: -45px;
	height: 122px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	line-height: 1.5;
}

.wrap .info {
	width: 265px;
	height: 100px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 3px 0 0 5px;
	height: 30px;
	background: #ffc107a6;	/* #d95050; */
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}

.info .close {
	position: absolute;
	top: 7px;
	right: 5px;
	color: black;
	width: 17px;
	height: 17px;
	background:
		url('https://img.icons8.com/ios-glyphs/17/000000/multiply.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 10px 0 0 10px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11.5px;
	color: #888;
	margin-top: -1px;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -8px;
	left: 50%;
	bottom: 10px;
	width: 22px;
	height: 12px;
	background:
		url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
	text-decoration: none;
}
