<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
    	<!-- oracle null 처리
    	MyBatis에서 쿼리에 매칭되는 파라미터에 NULL값이 있을 경우 에러가 발생하며 이를 해결하기 위한 방법. -->
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
	
	<!-- Aliases는 꼭 필요한 것은 아니지만, typeAliases를 사용하지 않으면 전체 경로를 적어야 할 필요가 있다. -->
    <typeAliases>
     	<!-- USER -->
        <typeAlias type="global.sesoc.project.vo.MemberVO" alias="MemberVO"/>
       
    <!-- 
    	CHAT
        <typeAlias type="com.page.websocket.chat.dto.ChatDto" alias="ChatDto"/>
        PAGE
        <typeAlias type="com.page.model.dto.PageVO" alias="PageVO"/>
        <typeAlias type="com.page.model.dto.PageWithUserVO" alias="PageWithUserVO"/>
        <typeAlias type="com.page.model.dto.Page_CreateVO" alias="Page_CreateVO"/>
        BOOKMARK
        <typeAlias type="com.page.bookmark.model.dto.BookmarkVO" alias="BookmarkVO"/>
        <typeAlias type="com.page.bookmark.model.dto.BookmarkWithPageVO" alias="BookmarkWithPageVO"/>
        BOARD
        <typeAlias type="com.page.board.model.dto.boardDto" alias="boardDto"/>
        ANSWER?
		<typeAlias type="com.page.board.model.dto.ansDto" alias="ansDto"/>
		FILE
		<typeAlias type="com.page.board.model.dto.fileDto" alias="fileDto"/>
		CALENDAR
		<typeAlias type="com.page.cal.model.dto.CalDto" alias="CalDto"/>
		MAP
		<typeAlias type="com.page.map.dto.MapDto" alias="MapDto"/>
    -->
    </typeAliases>
 	
 	<mappers>
 	<!-- 매퍼 경로 지정. root-context에서 설정 가능하다.
		<mapper resource="MemberMapper.xml" />
		<mapper resource="BoardMapper.xml" />
		<mapper resource="ReplyMapper.xml" />		
	-->
	 </mappers>
</configuration>