@charset "UTF-8";
@font-face {
 font-family: "DungGeunMo";
 src: url(../../font/DungGeunMo);
 src: url(../../font/DungGeunMo.eot?#iefix) format('embedded-opentype'),
 url(../../font/DungGeunMo.woff2) format('woff2'),
 url(../../font/DungGeunMo.woff) format('woff'),
 url(../../font/DungGeunMo.ttf) format('truetype');
 font-style: nomal;
 font-weight: nomal;
}

body { font-family: DungGeunMo !important; }
.jqte * { font-family: DungGeunMo !important; }